# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# Database
db.sqlite3

# Media files
# media/

# Static files
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db